{% assign current_variant = product.selected_or_first_available_variant %}
{% assign id = 'HM_' %}
{% assign id_variation = current_variant.sku | prepend: id %}
{{ id_variation }}
{% for variation in collections.all.products %}
    {% if variation.tags contains id_variation && variant.id != product.id %}
    <div class="product-card-wrapper card-wrapper underline-links-hover">
        <div class="card card--standard card--text" style="--ratio-percent: 100%;">
            <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 150.00000000000003%;">
                <div class="card__media">
                    <div class="media media--transparent media--hover-effect">
                        <img srcset="{{ variation.featured_media | image_url }} {{ variation.featured_media.width }}w"
                            src="{{ variation.featured_media | image_url: width: 533 }}"
                            sizes="(min-width: 1200px) 267px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                            alt="{{ variation.title }}" class="motion-reduce" loading="lazy" width="768" height="1152">
                    </div>
                </div>
                <div class="card__content">
                    <div class="card__information">
                        <h3 class="card__heading">
                            <a href="{{ variation.handle }}"
                                id="StandardCardNoMediaLink-template--16584602550524__featured_collection-7909167825148"
                                class="full-unstyled-link"
                                aria-labelledby="StandardCardNoMediaLink-template--16584602550524__featured_collection-7909167825148 NoMediaStandardBadge-template--16584602550524__featured_collection-7909167825148">
                                {{ variation.title }}
                            </a>
                        </h3>
                    </div>
                    <div class="card__badge bottom left"></div>
                </div>
            </div>
            <div class="card__content">
                <div class="card__information">
                    <h3 class="card__heading h5">
                        <a role="link" aria-disabled="true" class="full-unstyled-link">
                            {{ variantion.title }}
                        </a>
                    </h3>
                    <div class="card-information">
                        <div class="price">
                            <div class="price__container">
                                <div class="price__regular">
                                    <span class="price-item price-item--regular">
                                        {{ variation.price | money }}
                                    </span>
                                </div>
                                <div class="price__sale">
                                    <span>
                                        <s class="price-item price-item--regular">
                                        </s>
                                    </span>
                                    <span class="visually-hidden visually-hidden--inline">Sale price</span>
                                    <span class="price-item price-item--sale price-item--last">
                                        {{ variation.price | money }}
                                    </span>
                                </div>
                                <small class="unit-price caption hidden">
                                    <span class="visually-hidden">Unit price</span>
                                    <span class="price-item price-item--last">
                                        <span></span>
                                        <span aria-hidden="true">/</span>
                                        <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                        <span>
                                        </span>
                                    </span>
                                </small>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}